* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

:root {
  --space-1: 8px;
  --space-2: 16px;
  --space-3: 24px;
  --space-4: 32px;
  --space-6: 48px;
  --space-8: 64px;
  --space-12: 96px;
  --space-16: 128px;

  --font-base: 1rem;
  --font-lg: 1.25rem;
  --font-xl: 1.5rem;
  --font-2xl: 2rem;

  /* Primary */
  --color-green: hsl(160deg, 100%, 30%);

  /* Secondary */
  --color-gold-lighter: hsl(45deg, 100%, 50%);
  --color-gold-darker: hsl(45deg, 100%, 40%);

  /* Grays */
  --color-black: hsl(0deg, 0%, 0%);
  --color-gray-very-dark: hsl(0deg, 0%, 10%);
  --color-gray-dark: hsl(0deg, 0%, 30%);
  --color-gray-medium: hsl(0deg, 0%, 40%);
  --color-gray-light: hsl(0deg, 0%, 60%);
  --color-white: hsl(0deg, 0%, 100%);
}

.max-width-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  padding-left: var(--space-3);
  padding-right: var(--space-3);
}

.intro-chunk {
  font-size: var(--font-lg);
  margin-bottom: var(--space-6);
  margin-top: var(--space-8);
  max-width: 80%;
}
.intro-chunk .title {
  font-size: var(--font-xl);
  margin-bottom: var(--space-4);
}
.intro-chunk strong {
  color: var(--color-green);
}

main {
  background-color: var(--color-gray-light);
  border-top: var(--space-1) solid var(--color-gray-medium);
  padding-top: var(--space-8);
  padding-bottom: var(--space-8);
}
.card {
  background-color: var(--color-white);
  border-bottom: var(--space-1) solid var(--color-gray-medium);
  margin-left: calc(-1 * var(--space-3));
  margin-right: calc(-1 * var(--space-3));
  padding: var(--space-1) var(--space-3);
}
.card .indented-heading {
  background-color: var(--color-gold-lighter);
  border-bottom: var(--space-1) solid var(--color-gold-darker);
  font-size: var(--font-lg);
  margin-left: calc(-1 * var(--space-4));
  margin-top: 0;
  padding: var(--space-2) var(--space-4);
  width: fit-content;
}
